:root {
  --color-accent: hsla(340, 82%, 40%, 1);
  --color-text: #404040;
  --font-size: 14px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./roboto-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./roboto-v18-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./roboto-v18-latin-700.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: var(--font-size) Roboto, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

ol,
li {
  list-style: none;
}

