:root {
  --color-primary: #005bff;
  --color-accent: hsla(340, 82%, 40%, 1);
  --color-accent-dark: hsla(340, 82%, 35%, 1);
  --color-dark: #1f1f1f;
  --color-text-dark: #2c2c2c;
  --color-text: #404040;
  --color-text-light: #fdfdfd;
  --color-gray: #acacac;
  --color-error: #d9534f;
  --color-error-dark: #ae0725;

  --space: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 10px;
  --space-xxxs: 8px;
  --space-xxxxs: 6px;
  --space-xxxxxs: 4px;
  --space-xxxxxxs: 2px;

  --font-size-s: 12px;
  --font-size: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./fonts/roboto-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./fonts/roboto-v18-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src:
    local('Roboto'),
    local('Roboto-Medium'),
    url('./fonts/roboto-v18-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:
    local('Roboto'),
    local('Roboto-Bold'),
    url('./fonts/roboto-v18-latin-700.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font: var(--font-size) Roboto, sans-serif;
}

ol,
li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
